@import 'src/theme';

.vertical-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    background-color: $white;
    width: 243px;
    height: 261px;
    text-align: center;
    flex-direction: column;
    padding: 37px 10px 0 10px;
    margin-top: 10px;

    @media(max-width: $padWidth) {
        width: 200px;
        padding: 16px;
    }

    @media(max-width: $mobileWidth) {
        width: 320px;
        height: auto;
        flex-direction: row;
        align-items: flex-start;
    }

    > .vertical-card-image {
        width: 64px;
        padding: 10px;

        @media(max-width: $padWidth) {
            width: 80px;
        }

        @media(max-width: $mobileWidth) {
            width: 42.67px;
            padding: 0;
        }
    }

    > .text-container {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        margin-top: 13px;

        @media(max-width: $mobileWidth) {
            margin-top: 0;
            margin-left: 12px;
            height: auto;
        }

        > .vertical-card-title {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $black;

            @media(max-width: $mobileWidth) {
                text-align: start;
                font-size: 16px;
                line-height: 18.75px;
            }
        }

        > .vertical-card-description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            opacity: 0.4;
            color: $samplePrimary;
            padding: 8px 15px 24px 15px;

            @media(max-width: $mobileWidth) {
                text-align: start;
                padding: 4px 0 0 0;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}